# Основные настройки
STACK_NAME=${STACK_NAME}
APP_ENV=development
APP_DEBUG=true

# Настройки БД
DB_NAME=ibank
DB_USER=ibank_user
DB_PASSWORD=secret_password
DB_ROOT_PASSWORD=root_password
DB_PORT=3306

# Порты (чтобы не конфликтовали между стеками)
WEB_PORT=8081
API_PORT=8001
REDIS_PORT=6380
IB_PORT=8082

# Версии
PHP_VERSION=8.2
MYSQL_VERSION=8.0
